<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            width:100vw
        }
         .nav{
            display: flex;
            margin: 10px;
           
            padding: 10px;
            padding: 15px;
            margin-left: 70vw;
            margin-top: -10px;
           background-color:#f0f4f8;
            flex-direction: row;
            justify-content: center;
            
            height: fit-content;

            width:fit-content ;
        }
        .navbar a{
            font-family: Arial, Helvetica, sans-serif;
            background-color:rgb(223, 126, 0);
            padding: 10px;
            border-radius: 5px;
            margin: 1px;
            size: 19px;
            font-weight: 700;
            width: 14px;
            text-decoration: none;
            text-shadow: none;
            color: #ffffff;
            
        }
        .navbar a:hover{
            text-shadow: #000000;
            transform: scale(100vh);
            transition: 0.5s;
            background-color: #e79d57;
            color: black;
           
        }
        .main{
            padding-top: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;


        }
        .main h1,p{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            align-self: center;
            


        }
        .main a{
            background-color: #006eff;
            align-self: center;
            color: rgb(255, 255, 255);
            padding: 10px;
            margin: 10px;
            font-weight: 900;
            height: fit-content;
            width: fit-content;
            border-radius: 10px;
            text-decoration: none;



        }
        .main a:hover{
            transform: scale(100vh);
            background-color: #0047b3;
            color: #ffffff;
            border: 0px;
        }

        

    </style>
</head>
<body>
     <!-- Navbar -->
     <div class="nav">
        
        <%-include("includes/nav.ejs")%>
    </div>
    <div class="main">
        <h1>Welcome to InternPlatform!</h1>
        <br>
        <p>Get the best internship opportunities, apply and kickstart your career.</p>
        <br>
        <a href="/internship">Apply Now</a>

    </div>
</body>
</html>